.item{
    display: flex;
    background-color: white;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 4px;

}
.item > img {
    width: 150px;
    height: 175px;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 4px;
}
.info{
    display: flex;
    flex-direction: column;

}
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.incrementBtns{
    display: flex;
    border: 1px solid black;
    margin: 0;
    margin-top: auto;
    width: fit-content;
    border-radius: 4px;

}
.incrementContainer > button , .incrementContainer > h3 {
    @apply bg-primary-light text-2xl w-8 h-8 aspect-square flex items-center justify-center p-0
}
.incrementBtns > button , .incrementBtns > h3 {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.incrementBtns > button {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.incrementBtns > button:hover {
    background-color: rgba(0,0,0,0.25);
}