.item {
    position: relative;
    width: auto;
    width: clamp(175px,20vw,250px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 8px;
    gap: 0.5rem;
    transition: 0.125s ease-in-out;
}
.item:hover {
    border: 1px solid yellow;
}


.item > img {
    aspect-ratio: 10/14;
    width: 100%;
    flex: 1;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}
.info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;


}
.info > button {
    background-color: transparent;
    filter: invert(1);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.name {
    font-size: 1rem;
    font-weight: 500;
}
.toCartBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: transparent;
    border: 1px solid yellow;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.125s ease-in-out;
    color: white;
    box-sizing: border-box;
}
.toCartBtn:hover{
    background-color: yellow;
    color: black;
}
.toCartBtn:hover > img{
    filter: invert(0);

}
.toCartBtn > img {
    filter: invert(1);
    transition: 0.125s ease-in-out;

}
.toCartBtn > p {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    margin-left: auto;
    margin-right: 0.25rem;
}
.price {
    font-size: 0.75rem;
    font-weight: 600;
    font-size: 0.9rem;

}