
.swiper {
    margin-left: -7.5vw !important;
    margin-right: -7.5vw !important;
    padding-left: 7.5vw !important;
    padding-right: 7.5vw !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    overflow-y: visible !important;
    position: sticky !important;
    box-sizing: border-box !important;

    top: 79px !important;
    z-index: 10 !important;
    background: url(/imgs/bgTexture.png) , linear-gradient(0deg, rgba(27,26,27,0.85) 0%, rgba(27,26,27,1) 25%);

  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: fit-content !important;
    overflow-y: visible;

    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper {
    margin: 0 !important;
    width: fit-content !important;
}